body{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    text-shadow: 5px 0 #232931;
    color: #4ECCA3;
    background-color: #393E46;
}
h1 {
    font-size: 8rem;
    margin: 30px;
}
table {
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    margin: auto;
}
img {
    width: 100%;
}